.visual-box .visual li .btn-more:hover{
	background: #82c74f!important;
	border-color: #82c74f!important;
	color: #fff!important;
}

.clients-box{
	background: rgba(0, 0, 0, 0) url("images/bg-stat2.jpg") repeat scroll 0 0;
    margin: 0 -9999px;
    padding: 50px 9999px 85px;
    text-align: center;
    width: 960px;
}

.clients-box .title {
    color: #5c5588;
    display: block;
    font: 24px/26px "bold";
    margin: 0 0 20px;
}

.clients-box__inner{
	background: #fff;
	text-align: center;
	padding: 20px 0 0;
	margin: 35px 0 0;
}

.clients-box__inner-item{
	width: 315px;
	margin: 0 0 20px;
	display: inline-block;
}

.clients-box__inner-item a{
	display: inline-block;
	vertical-align: middle;
}

.clients-box__inner-item a:hover{
	opacity: .8;
}

.clients-box__inner-item a img{
	display: block;
	max-width: 100%;
}

.btn-exz span{
	font-size: 14px;
}
.news-cols ul li:nth-child(3n+1) {
    clear: left;
}
.slogan .name-text,
.slogan .text-box{
	float: none;
	text-align: center;
	width: 100%;
}

.menu-box .menu {
    background: rgba(0, 0, 0, 0) url("images/bg-menu.png") no-repeat scroll 0 0!important;
    height: 532px;
    margin: 0 auto;
    position: relative;
    width: 532px;
}

.menu-box .menu .block {
    display: none;
    height: 400px;
    left: 50%;
    margin: -200px 0 0 -200px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 400px;
    border-radius: 50%;
    z-index: 1;
	overflow: hidden;
	background-size: cover!important;
}

.menu-box .menu .block:after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 155, 0.7);
	z-index: 2;
}

.menu-box .table-cell {
	position: relative;
	z-index: 3;
}